[submodule "thirdparty/cereal"]
	path = thirdparty/cereal
	url = https://github.com/USCiLab/cereal.git
[submodule "thirdparty/xxHash"]
	path = thirdparty/xxHash
	url = https://github.com/Cyan4973/xxHash.git
[submodule "thirdparty/cmcstl2"]
	path = thirdparty/cmcstl2
	url = https://github.com/CaseyCarter/cmcstl2.git
[submodule "thirdparty/Catch2"]
	path = thirdparty/Catch2
	url = https://github.com/catchorg/Catch2.git
[submodule "thirdparty/range-v3"]
	path = thirdparty/range-v3
	url = https://github.com/ericniebler/range-v3.git
